### Import Libraries and Dependencies

In [1]:
import pandas as pd
from pathlib import Path
%matplotlib inline

### Read in File and Clean Data

In [2]:
# Read CSV
csv_path = Path('../Resources/crypto_data.csv')
crypto_data = pd.read_csv(csv_path, index_col='data_date', parse_dates=True, infer_datetime_format=True)
crypto_data

# Drop all columns cryptocurrency and data_priceUsd
crypto_data = crypto_data.drop(columns=['data_time','timestamp'])

# Drop missing values
crypto_data = crypto_data.dropna()
crypto_data.head()

           cryptocurrency  data_priceUsd
data_date
2017-05-10        bitcoin    1743.723523
2017-05-11        bitcoin    1828.678209
2017-05-12        bitcoin    1776.443919
2017-05-13        bitcoin    1714.964198
2017-05-14        bitcoin    1789.278913

### Group DataFrame and perform `count` aggregation

In [3]:
# Group by crypto data by cryptocurrency and perform count

### Group DataFrame without aggregate function

In [4]:
# Group by crypto data by cryptocurrency

### Group DataFrame by `cryptocurrency` and calculate the average `data_priceUsd`

In [5]:
# Calculate average data_priceUsd for each crypto

### Group by more than one column and calculate count

In [6]:
# Group by more than one column

### Compare single column grouping to multicolumn grouping

In [7]:
# Compare one column group with multiple column group

### Plot grouped data to generate more than one line on the same chart

In [8]:
# Plot data_priceUsd for each crypto across time